/* Fonts */
@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansMedium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans Icon";
  src: url("./assets/fonts/NetflixSansIcon.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansBlack.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansThin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSansRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  /* Netflix Default Palette */
  --white: #fff;
  --clearwhite: rgba(255, 255, 255, 0.3);
  --smokeWhite: #e5e5e5;
  --midgray: rgb(109, 109, 110, 0.3);
  --gray: #808080;
  --black: #141414;
  --red: #b9090b;
  /* Bonus Colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  /* Event Colors */
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  font-family: "Netflix Sans", sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GENERAL */

html,
body {
  background: var(--black);
  font-family: "Netflix Sans";
  width: 100%;
  min-width: 216px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DIALOG */

.opacity-overlay {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  position: relative;
  top: 2em;
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--black);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.dialog__img-shadow {
  position: relative;
}

.dialog__img-shadow::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -120px 50px -50px var(--black);
}

.dialog__img {
  width: 100%;
}

.dialog__overlay {
  position: absolute;
  bottom: 20%;
  left: 4%;
  display: flex;
  flex-direction: column;
}

.dialog__logo {
  width: 50%;
}

.dialog__button {
  display: inline-flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: clamp(10px, 1.5vw, 14px);
  margin-top: 2em;
  margin-right: 0.5em;
  cursor: pointer;
}

.dialog__button > img {
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0.15em;
}

.button--round-dark {
  padding: 0.5em;
  color: grey;
  border-radius: 50%;
  background-color: rgba(20, 20, 20, 0.75);
  border: 2px solid grey;
}

/* DIALOG CONTENT */
.dialog__text {
  padding: 4%;
}
